{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet"  href="{% static "css/bootstrap/bootstrap.css" %}"/>
    <link rel="stylesheet"  href="{% static "css/bootstrap/bootstrap.min.css" %}"/>
    <link rel="stylesheet"  href="{% static "js/bootstrap.min.js" %}"/>
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> Healthy Food - your Healthy store! </title>

<body>
<header id="header"><!--header-->
    <div class="header-top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href=""><img src="{% static "images/phone-header.png" alt="image" %}"/>  + 937 - 99 - 92</a></li>
                            <li><a href=""><img src="{% static "images/message.png" alt="image" %}"/>  info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li><a href="" class="active">Our Products</a></li>
                            <li><a href="">Why Choose US</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<form action="logout" metod="post" id="form">
<input action="logout" type="submit" value="Logout">
</input>
</form>
{% else %}

                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'login' %}"><img src="{% static "images/lock.png" %}" alt="image"/> Log in</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'register' %}"><img src="{% static "images/sign-up.png" %}" alt="image"/> Sign up</a></li>
                    </ul>
                </div>

{% endif %}

            </div>
        </div>
    </div><!--header-bottom-->
</header><!--header-->

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Healthy</span>Food</h1>
                                <h2>Check it out!</h2>
                                <p>We enable people to enjoy locally grown eco-friendly and healthy foods that are reasonably priced and conveniently delivered. </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static "images/bunner-healthy-girl.jpg" %}" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Meat & Cattle</h1>
                                <h2>Best offer!</h2>
                                <p>We pay extra attention to what we're feeding to our live stock. Our cattle eats only fresh grass forages and hay. </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static "images/bunner-meat.jpg" %}" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Juicy lemon</h1>
                                <h2>Jummy!</h2>
                                <p>Looking for natural goods that grew up with care and love? We are very pleased to invite you to try our farm goods! </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static "images/bunner-lemon.jpg" %}" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">OUR PRODUCTS</h2>
                </div>
                <div class="category-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#breads" class="active" data-toggle="tab">Breads</a></li>
                            <li><a href="#dairy" data-toggle="tab">Dairy</a></li>
                            <li><a href="#honeys" data-toggle="tab">Honeys</a></li>
                            <li><a href="#meatproducts" data-toggle="tab">Meat Products</a></li>
                            <li><a href="#vegatables" data-toggle="tab">Vegetables</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="breads" > <!--сюда вставить питоновкский код для категории (каждая категория это итерация с 4 товарами-->
                            {% if case_list %}
                                <ul>
                                    {% for case in case_list %}
                                        {% if case.Category == 'breads' %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <li><img src="{{ MEDIA_URL }}{{ case.ImagePath.url }}" alt="product" /></li>
                                                            <li><h2>${{case.ProductPrice}}</h2></li>
                                                            <li><p>{{case.ProductName}}</p></li>
                                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Order online</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No cases are available.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade active in" id="dairy" > <!--сюда вставить питоновкский код для категории (каждая категория это итерация с 4 товарами-->
                            {% if case_list %}
                                <ul>
                                    {% for case in case_list %}
                                        {% if case.Category == 'dairy' %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <li><img src="{{ MEDIA_URL }}{{ case.ImagePath.url }}" alt="product" /></li>
                                                            <li><h2>${{case.ProductPrice}}</h2></li>
                                                            <li><p>{{case.ProductName}}</p></li>
                                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Order online</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No cases are available.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade active in" id="meatproducts" > <!--сюда вставить питоновкский код для категории (каждая категория это итерация с 4 товарами-->
                            {% if case_list %}
                                <ul>
                                    {% for case in case_list %}
                                        {% if case.Category == 'meatproducts' %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <li><img src="{{ MEDIA_URL }}{{ case.ImagePath.url }}" alt="product" /></li>
                                                            <li><h2>${{case.ProductPrice}}</h2></li>
                                                            <li><p>{{case.ProductName}}</p></li>
                                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Order online</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No cases are available.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade active in" id="honeys" > <!--сюда вставить питоновкский код для категории (каждая категория это итерация с 4 товарами-->
                            {% if case_list %}
                                <ul>
                                    {% for case in case_list %}
                                        {% if case.Category == 'honeys' %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <li><img src="{{ MEDIA_URL }}{{ case.ImagePath.url }}" alt="product" /></li>
                                                            <li><h2>${{case.ProductPrice}}</h2></li>
                                                            <li><p>{{case.ProductName}}</p></li>
                                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Order online</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No cases are available.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade active in" id="vegatables" > <!--сюда вставить питоновкский код для категории (каждая категория это итерация с 4 товарами-->
                            {% if case_list %}
                                <ul>
                                    {% for case in case_list %}
                                        {% if case.Category == 'vegatables' %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <li><img src="{{ MEDIA_URL }}{{ case.ImagePath.url }}" alt="product" /></li>
                                                            <li><h2>${{case.ProductPrice}}</h2></li>
                                                            <li><p>{{case.ProductName}}</p></li>
                                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Order online</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No cases are available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div><!--/category-tab-->
            </div>
        </div>
</section>

<section><!--Why-choose-us-->
    <div class="item">
        <h2 class="title text-center">WHY CHOOSE US</h2>
    </div>

        <div class="row">
            <div class="item">
                <div class="row text-center">
                    <p>100% Fresh Organic Food</p>
                    <p>This is our motto and we are experts in delivering the best 100% organic foods on the market. We work with more than 60 farms all over the country. </p>
                    <img src="{% static "images/best-seller.png" %}" alt="" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="item">
                <div class="row text-center">
                    <p>Fast Free Delivery</p>
                    <p>We have developed an effective and fast delivery network which brings the products to your home or office in 48 hours. </p>
                    <img src="{% static "images/free-shipping.png" %}" alt="" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="item">
                <div class="row text-center">
                    <p>Rich Experience</p>
                    <p>We are working with organic products for 14 years and to be honest this is the best job ever - to see the people' smiles when they taste our fresh food! </p>
                    <img src="{% static "images/trophy.png" %}" alt="" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="item">
                <img src="{% static "images/bg-footer.jpg" %}" alt="" />
            </div>
        </div>
    </div>
</section><!--Why-choose-us-->



<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="companyinfo">
                <h2><span>Healthy</span>Food</h2>
                <p>We enable people to enjoy locally grown eco-friendly and healthy foods that are reasonably priced and conveniently delivered.</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">HealthyFood Inc. All rights reserved.</p>
                <p class="pull-right">Designed by Gleb-Zhenya-Masha</p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>


