{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet"  href="{% static "css/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet"  href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet"  href="{% static "js/bootstrap.min.js" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> Healthy Food - Log in </title>

<body>
<header id="header"><!--header-->
    <div class="header-top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href=""><img src="{% static "images/phone-header.png" %}" alt="image"/>  + 937 - 99 - 92</a></li>
                            <li><a href=""><img src="{% static "images/message.png" alt="image" %}">  info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li><a href="">Why Choose US</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--header-bottom-->
</header><!--header-->

<section id="breadcrumb"><!--breadcrumb-->
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Registration</li>
            </ol>
        </div>
</section><!--/breadcrumb-->

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Please register on the site.</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-default">Registration</button>
                    </form>
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="companyinfo">
                <h2><span>Healthy</span>Food</h2>
                <p>We enable people to enjoy locally grown eco-friendly and healthy foods that are reasonably priced and conveniently delivered.</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">HealthyFood Inc. All rights reserved.</p>
                <p class="pull-right">Designed by Gleb-Zhenya-Masha</p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>